@use 'variables' as v;

.site-wrapper{
   display: flex;
   flex-direction: column;
   height: 100vh;
   
   .header{
      position: relative;
      height: 10vh;
      background-color: v.$darkBlue;
      display: flex;
      align-items: baseline;
      padding: 0 20px;
      font-size: 3rem;
      font-weight: bold;

      h1{
         letter-spacing: .4rem;
         margin-right: auto;
      }

      .loggedIn{
         display: flex;
         column-gap: 20px;
         font-size: 1.75rem;

         button{
            border-radius: 5px;
            padding: 5px;
            size: 1.25rem;
            background-color: v.$brown;
         }

         button:hover{
            background-color:v.$brown;
            color: v.$darkBlue;
            position: relative;
            top: -2px;
         }
      }
   }

   main{
      display: flex;
      justify-content: center;
      background-color: v.$blue;
      height: 85vh;
      display: flex;
      align-items: center;

      .login{
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         padding: 10px;
         row-gap: 50px;
         width: 40%;
         height: 80%;
         font-size: 1.25rem;
         text-align: center;
         background-color: v.$pale;
         border-radius: 5px;
         box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

         form{
            display: flex;
            flex-direction: column;
            row-gap: 25px;

            button{
               background-color: v.$darkBlue;
               border-radius: 5px;
            }

            button:hover{
               position: relative;
               top: -2px;
            }

            input{
               text-indent: 10px;
            }
            input:focus{
               color: v.$darkBlue;
               outline-color: v.$brown;
            }
            
            .radio-buttons{
               display: flex;
               justify-content: center;
               column-gap: 10px;

               input[type='radio'] {
                  accent-color: v.$brown;
              }
            }

            p{
               font-size: 1rem;
               color: red;
            }

         }
      }

   }

   .footer{
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 5vh;
      background-color: v.$brown;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 600;

      span{
         color:red;
         margin: 0 5px;
         font-size: 1.5rem;
      }  
   }
   
}
