@use 'variables' as v;

.popup {
    position: fixed;
    left: 25%;
    top: 20%;
    width: 50%;
    height: 50%;
    border: 1px solid #011627;
    border-radius: 1em;
    box-shadow: -2px 5px 5px v.$darkBlue;
    background-color: v.$pale;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.popup-title {
    font-size: 30px;
    font-weight: bold;
    color: v.$darkBlue;
    background-color: v.$pale;
}
.input-form h1 {
    font-size: 18px;
    max-width: 100px;
    color: v.$darkBlue;
    background-color: v.$pale;
    padding-right: 50px;
    text-align:left;

}
.input-form input {
    font-size: 15px;
    width: 250px;
    color: black;
    background-color: v.$pale;
    align-self: flex-start;
    padding-right: 50px;
    border: 1px solid #011627;
    border-radius: 1em;
}
.input-form select {
    font-size: 15px;
    width: 202px;
    color: black;
    background-color: v.$pale;
    align-self: flex-start;
    margin-left: 25px;
    padding-right: 50px;
    border: 1px solid #011627;
    border-radius: 1em;
}
.cancel-button {
    font-size: 15px;
    text-align: center;
    align-content: center;
    width: 60px;
    height: 40px;
    background-color: gray;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.update-button {
    font-size: 15px;
    text-align: center;
    align-content: center;
    width: 60px;
    height: 40px;
    background-color: v.$blue;
    margin-right: 30px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
}

.course-select-box {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 70px; // Set a fixed height to show scroll for multiple items
    width: 200px; // Adjust the width as needed
}

.course-option {
    padding-left: 5px;
    cursor: pointer;
    user-select: none;
    &:hover {
        background-color: v.$pale; // Change as needed for hover effect
    }
}

.course-option.selected {
    background-color: v.$blue; // Adjust the selected background color as needed
    color: white; // Adjust the selected text color as needed
}

select[multiple] {
    /* Specific styles for the multi-select dropdown */
    height: auto; /* Or set a specific height */
    overflow-y: auto;
}

