@use 'variables' as v;

.studentHome{
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    .degreeInfo{
        display: flex;
        flex-direction: column;
        row-gap: 50px;

        .degreeInfoCard{
            display: flex;
            flex-direction: column;
            font-size: 1.25rem;
            align-items: center;
            background-color: v.$pale;
            width: 80vw;;
            padding: 20px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

            .degreeHeader{
                font-weight: bold;
                margin-bottom: 20px;
            }

            .degreeHeader:hover{
                color: v.$darkBlue;
            }
        }

        .degreeUpdate{
            display: flex;
            flex-direction: column;
            font-size: 1.25rem;
            align-items: center;
            background-color: v.$pale;
            width: 80vw;;
            padding: 20px;
            border-radius: 5px;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
            


            .degreeUpdateHeader{
                font-weight: bold;
                margin-bottom: 20px;
            }

            .degreeUpdateHeader:hover{
                color: v.$darkBlue;
            }
        }

    }

    .semesterInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        font-size: 1.25rem;
        border-radius: 5px;
        width: 80vw;
        background-color: v.$pale;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        
        .semesterHeader{
            font-weight: bold;
            margin-bottom: 20px;
        }

        .semesterHeader:hover{
            color: v.$darkBlue;
        }

        .semesters{
            display: flex;
            width: 100%;
            justify-content: space-around;
            font-weight: bold;

            .semester{
                display: flex;
                flex-direction: column;
                align-items: center;
                border: 3px solid v.$blue;
                border-radius: 5px;
                padding: 15px 30px;

                a{
                    text-decoration: none;
                    color: v.$darkBlue;
                }

                a:hover{
                    color: red;
                }

            }
        }

    }

    .rating{
        display: flex;
        flex-direction: column;
        font-size: 1.25rem;
        align-items: center;
        background-color: v.$pale;
        width: 80vw;;
        padding: 20px;
        border-radius: 5px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

        .ratingHeader{
            font-weight: bold;
            margin-bottom: 20px;
        }

        .ratingHeader:hover{
            color: v.$darkBlue;
        }
    }
}
